* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_section {
  background-color: #00293b;
  text-align: center;
  color: white;
  margin: auto;
  font-size: 25px;
  height: 40vh;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 5px dashed black;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.guess {
  position: absolute;
  color: black;
  background-color: grey;
  padding: 30px;
  width: 35px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -35px;
  border: 3px dashed black;

  height: 40px;
}

.bottom_section {
  display: flex;
}

.bottom_section_1st_half {
  background-color: rgb(206, 206, 206);
  height: 60vh;
  width: 50vw;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.bottom_section_2nd_half {
  background-color: gray;
  height: 60vh;
  width: 50vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Welcome {
  background-color: #00293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.instruct {
  font-size: 33px;
  background-color: grey;
  font-weight: 100;
  padding: 77px;
  border: 5px solid black;
  margin:25px;

  
}

.start_game {
  background-color: #00293b;
  color: white;
  align-items: center;
  padding: 20px;
  width: 40vw;
  border-radius: 20px;
}

.reset_sub {
  display: none;
}

@media only screen and (max-width: 768px) {
  .bottom_section {
    flex-direction: column;
    height: 80vh;
  }
  .bottom_section_1st_half {
    width: 97.4vw;
  }
  .bottom_section_2nd_half {
    width: 97.4vw;
  }
  .reset {
    display: none;
  }
  .top_section {
    padding: 10px;
    height: 20vh;
    border: 0;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: space-between;
    position: static;
  }

  .guess {
    position: static;
    margin-bottom: 0px;
  }

  .reset_sub {
    height: 5vh;
    width: 97.4vw;
    background-color: #00293b;
    display: block;
  }
  .instruct {
    height: 200vh;
  }

}
